.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 70px;
    width: 80%;
    background-color: white;
    position: fixed;
    border-bottom: 4px solid green;
    z-index: 100;
}